In [53]:
import pandas as pd

In [64]:
server = "http://rest.ensembl.org"
exon_df_total = pd.DataFrame()
list_gene = ["ABCC5","CRNDE","GUSBP11","ANKHD1","ADAM12","F8","GAS8"]

for g_name in list_gene:

    ext = "/lookup/symbol/homo_sapiens/"+g_name+"?expand=1"
    
    r = requests.get(server+ext, headers={ "Content-Type" : "application/json"})
    
    if not r.ok:
        r.raise_for_status()
        sys.exit()
        
    decoded = r.json()
    liste_exon=[]
    for k in range(len(decoded['Transcript'])):
        exon = decoded['Transcript'][k]
        exon = exon["Exon"]
        for i in range(len(exon)):
            for k_exon, v_exon in exon[i].items():
                if k_exon == 'id':
                    liste_exon.append(v_exon)
    exon_df = pd.DataFrame(liste_exon)
    exon_df_total = pd.concat([exon_df_total,exon_df], axis=1)
    exon_df_total = exon_df_total.rename(columns={0:g_name})

In [65]:
exon_df_total

,ABCC5,CRNDE,GUSBP11,ANKHD1,ADAM12,F8,GAS8
0,ENSE00001899220,ENSE00003798647,ENSE00001789998,ENSE00001918425,ENSE00001619808,ENSE00001515616,ENSE00002575867
1,ENSE00002701825,ENSE00003797799,ENSE00001757224,ENSE00003717597,ENSE00001191046,ENSE00001308463,ENSE00002603916
2,ENSE00003585733,ENSE00003799723,ENSE00001718973,ENSE00003728667,ENSE00001016209,ENSE00001096349,ENSE00002600249
3,ENSE00003691819,ENSE00002618483,ENSE00001794195,ENSE00003742240,ENSE00001382491,ENSE00001096386,ENSE00003553012
4,ENSE00000780809,ENSE00002600927,ENSE00001593984,ENSE00003720667,ENSE00001384099,ENSE00001927019,ENSE00002579367
...,...,...,...,...,...,...,...
219,NaN,NaN,NaN,ENSE00001868389,NaN,NaN,NaN
220,NaN,NaN,NaN,ENSE00001920240,NaN,NaN,NaN
221,NaN,NaN,NaN,ENSE00003623162,NaN,NaN,NaN
222,NaN,NaN,NaN,ENSE00003689125,NaN,NaN,NaN
223,NaN,NaN,NaN,ENSE00001705047,NaN,NaN,NaN

In [66]:
exon_df_total.to_csv("exon_table.csv")